.header {
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: space-between;
  background-color: $white1;

  &__left {
    display: flex;
  }

  &__right {
    display: flex;
  }

  &__title {
    @include centering;

    display: flex;
    width: 200px;

    &--name {
      font-size: 1.7rem;
      color: $purple1;
      font-family: Chewy;
    }
  }

  &__today {
    @include centering;

    display: flex;
    font-size: 1.7rem;
  }

  &__profile {
    @include centering;

    display: flex;
    width: 200px;

    &--hello {
      font-size: 1.5rem;
    }

    &--img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45px;

      img {
        width: 27px;
        border-radius: 50%;
      }
    }
  }

  &__search {
    margin: auto 25px;
  }
}
