.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  border-bottom: $inner-border;
  padding-left: 50px;

  &__content {
    display: flex;
  }

  &__greeting {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 210px;

    &--hello {
      font-size: 2rem;
    }

    &--how {
      font-size: 1.3rem;
    }
  }

  &__search {
    margin: auto 25px;
  }

  &__profile {
    display: flex;
    width: 180px;

    &--img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;

      img {
        width: 40px;
        border-radius: 50%;
      }
    }
  }

  &__user-detail {
    display: flex;
    flex-direction: column;
    margin-left: 7px;

    &--username {
      font-size: 1.5rem;
      line-height: 30px;
    }

    &--role {
      font-size: 1.3rem;
      line-height: 20px;
    }
  }
}
