#nav {
  display: flex;
  flex-direction: column;
  width: 210px;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  margin-top: 20px;

  &-name {
    font-size: 1.2em;
  }
}

#menu {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.category {
  display: flex;
  align-items: center;
  height: 45px;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 0.9em;
  cursor: pointer;

  &-content {
    display: flex;
    margin-left: 30px;
  }
}

.whiter {
  background-color: whitesmoke;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #00ada1;
}

.grayer {
  &:hover {
    background-color: $main-mint;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: 0.25s;
  }
}

.menu-hr {
  width: 160px;
  border: 1px solid whitesmoke;
}
