.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 185px;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;

    &--name {
      font-size: 1.2em;
      line-height: 54px;
    }
  }

  &__category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;

    &:first-child {
      margin-top: 30px;
    }
  }

  &__sub-category {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 140px;
    background-color: $select-color-gray;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: 0.8em;
    overflow: hidden;
    cursor: default;

    &--menu {
      $height: 30px;

      width: 100px;
      height: $height;
      line-height: $height;
      border-radius: 12px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: $select-color-black;
        color: white;
      }
    }
  }

  &__content {
    width: 170px;
    line-height: 50px;
    border-radius: 10px;

    &--click {
      background-color: $select-color-black;
      color: white;
      transition: 0.4s;

      & > svg {
        fill: #fff;
        stroke-width: 0.2;
      }
    }

    &--hover {
      &:hover {
        background-color: $select-color-gray;
        transition: 0.4s;
      }
    }

    & > span {
      margin-left: 20px;
      font-size: 0.8em;
    }

    & > svg {
      transform: translate(-5%, 28%);
      margin-left: 20px;
    }
  }

  &__logout {
    & > svg {
      transform: translate(-5%, 20%);
      transform-origin: 50% 50%;
    }
  }

  &__hr {
    margin-top: 20px;
    width: 165px;
    border: 1px solid $select-color-gray;
  }
}
