.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 185px;

  &__title {
    @include centering;

    display: flex;
    height: 80px;

    &--name {
      font-size: 2rem;
      color: $main-color;
      font-family: Chewy;
    }
  }

  &__logout {
    & > svg {
      transform: translate(-5%, 20%);
      transform-origin: 50% 50%;
    }
  }

  &__hr {
    margin-top: 20px;
    width: 165px;
    border: 1px solid $select-color-gray;
  }
}
