.authchanger {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.4s;
  background-image: url("../../../public/assets/planner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &--right {
    left: 50%;
  }

  &__oAuth2-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 130px;
  }
}
