.task-detail {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 88%;
  bottom: -100%;
  z-index: 9;
  border-radius: 10px;

  &__svg {
    display: flex;
    padding: 0 10px 0 30px;

    &--title {
      margin-top: 10px;
    }

    &--description {
      margin-top: 5px;
    }
  }

  &__exp {
    display: flex;
    flex-direction: column;
    height: 430px;
  }

  &__title {
    display: flex;
    height: 110px;
    align-items: flex-start;
    padding: 30px 0;

    &-word {
      width: 320px;
      height: 100%;
      font-size: 2.2rem;
      font-weight: 900;
      word-break: break-all;
      overflow: scroll;
    }
  }

  &__description {
    display: flex;
    flex: 1;
    align-items: flex-start;

    &-word {
      width: 300px;
      height: 100%;
      font-size: 1.5rem;
      font-weight: 700;
      word-break: break-all;
      overflow: scroll;
    }
  }

  &__common {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 1.4rem;
    margin-right: 20px;
  }

  &__footer {
    @include centering;

    display: flex;
    $height: 50px;
    height: $height;
    line-height: $height;
  }
}

.todolist {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  text-align: left;

  &__header {
    display: flex;
    height: 35px;
    text-indent: 20px;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
  }

  &__btn-create {
    margin-right: 200px;
  }

  &__body {
    flex: 1;
  }

  &__todo-create-box {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 14px;
  }

  &__todobox {
    display: flex;
    margin: 0 14px 10px 0;
  }

  &__text {
    display: flex;
    align-items: center;
    width: 250px;
    height: 40px;
    background-color: $white1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-indent: 14px;

    & > input {
      font-size: 1rem;
      text-indent: 14px;
    }
  }

  &__svg {
    @include centering;

    display: flex;
    width: 50px;
    height: 40px;
    background-color: $white1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
  }
}
