.task-create {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 88%;
  bottom: -100%;
  z-index: 9;
  background-color: $white1;
  border-radius: 10px;

  &__box {
    display: flex;
    align-items: center;
    margin: 10px 20px;
    border-radius: 15px;
    background-color: $gray1;
  }

  &__input {
    $height: 20px;

    width: 400px;
    height: $height;
    line-height: $height;
    background: none;
    text-indent: 6px;
    font-size: 1rem;
  }

  &__header {
    $height: 80px;

    height: $height;
    line-height: $height;
    font-size: 2rem;
    text-indent: 30px;
  }

  &__title {
    height: 70px;
    padding: 0 10px;
  }

  &__type {
    height: 110px;
    flex-direction: column;
    flex-wrap: wrap;

    &-header {
      $height: 50px;

      height: $height;
      line-height: $height;
      font-size: 2rem;
    }

    &-content {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      justify-content: center;
    }

    &-elem {
      @include centering;
      $height: 20px;

      display: flex;
      min-width: 60px;
      height: $height;
      line-height: $height;
      padding: 5px 10px;
      margin: 0 7px;
      font-size: 1.4rem;
      color: $white1;
      border-radius: 14px;
      cursor: pointer;
    }
  }

  &__time {
    height: 60px;
  }

  &__description {
    height: 100px;
  }

  &__location {
    height: 50px;
  }

  &__timebox {
    display: flex;
    width: 100%;
  }

  &__svg {
    @include centering;

    display: flex;
    padding: 0 0 0 15px;
  }

  &__timepicker {
    $height: 25px;

    width: 100px;
    height: $height;
    line-height: $height;
    margin-left: 10px;
    border: none;
    font-size: 1.5rem;
    position: relative;
    cursor: pointer;
  }

  &__select {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.8em;

    & > select {
      width: 100px;
      height: 30px;
      border: none;
      border-radius: 10px;
      text-indent: 8px;
      font-size: 0.9em;
    }
  }

  &__select-box {
    color: #555555;
    cursor: pointer;
  }

  &__submit {
    @include centering;

    display: flex;
    flex: 1;
  }
}
