$box-height: 45px;

.timepicker {
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  width: 150px;
  height: $box-height * 3;
  overflow: hidden;
  background-color: white;
  border: $inner-border;
  border-radius: 10px;
  right: 0px;
  z-index: 99;

  &__selector {
    position: relative;
    width: 40px;
    font-size: 0.7em;
    overflow: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__options {
    height: $box-height;
    line-height: $box-height;
    cursor: pointer;
  }
}
