.btn-submit {
  width: 200px;
  height: 40px;
  background-color: $main-color;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;

  &:hover {
    transition: 0.3s;
    scale: 110%;
  }
}

.btn-create {
  border: $inner-border;
  width: 120px;
  height: 30px;
  background-color: rgba(209, 209, 209, 0.659);
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: rgba(132, 132, 132, 0.66);
    transition: 0.2s;
  }
}

.btn-submit-small {
  width: 80px;
  height: 30px;
  background-color: whitesmoke;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    transition: 0.2s;
    scale: 120%;
  }
}

.btn-submit-big {
  width: 160px;
  height: 45px;
  background-color: $select-color-black;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 0.9em;
  cursor: pointer;

  &:hover {
    transition: 0.2s;
    scale: 110%;
  }
}
