.btn-submit {
  width: 200px;
  height: 40px;
  background-color: $main-mint;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.btn-create {
  border: $inner-border;
  width: 120px;
  height: 30px;
  background-color: rgba(209, 209, 209, 0.659);
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: rgba(132, 132, 132, 0.66);
    transition: 0.2s;
  }
}

.btn-submit-small {
  width: 80px;
  height: 30px;
  background-color: $btn-submit-color;
  color: white;
  border: none;
  border-radius: 8px;
}
