.small-cal {
  margin: 20px;

  td {
    font-size: 0.7em;
    min-width: 30px;
  }

  th {
    font-size: 0.7em;
  }

  &__caption {
    height: 35px;
    font-size: 0.9em;
  }

  &__btn-changeMonth {
    width: 20px;
    height: 20px;
    background-color: inherit;
    font-size: 1.2em;
    margin-left: 30px;
    margin-right: 30px;
    border: none;
  }

  &__table {
    width: 270px;
    height: 210px;
  }

  &__today {
    background-color: rgba(255, 132, 132, 0.729);
    border-radius: 100%;
  }

  &__except {
    color: rgb(163, 163, 163);
  }
}
