.small-cal {
  height: 230px;
  margin: 15px;

  td {
    font-size: 0.6em;
    min-width: 32px;
  }

  th {
    font-size: 0.7em;
  }

  &__caption {
    height: 35px;
    font-size: 0.9em;
  }

  &__btn-changeMonth {
    width: 20px;
    height: 20px;
    background-color: inherit;
    font-size: 1.2em;
    margin-left: 30px;
    margin-right: 30px;
    border: none;
  }

  &__table {
    height: 200px;
  }

  &__today {
    color: rgba(255, 0, 0, 0.729);
  }

  &__except {
    color: rgb(163, 163, 163);
  }

  &__selected {
    color: rgb(0, 17, 255);
  }
}
