.slide-in {
  animation-name: slide-in;
  animation-duration: 0.6s;
}

.slide-out {
  animation-name: slide-out;
  animation-duration: 0.6s;
}

.slide-up {
  top: -70px;
  animation-name: slide-up;
  animation-duration: 0.5s;
}

.slide-down {
  animation-name: slide-down;
  animation-duration: 0.5s;
}

@keyframes slide-in {
  from {
    right: -400px;
  }
  to {
    right: 0;
  }
}

@keyframes slide-out {
  from {
    right: 0;
  }
  to {
    right: -400px;
  }
}

@keyframes slide-up {
  from {
    top: 0;
  }
  to {
    top: -70px;
  }
}

@keyframes slide-down {
  from {
    top: -70px;
  }
  to {
    top: 0;
  }
}
