.task-detail-appear {
  animation: task-detail-appear 0.3s ease forwards;
}

.task-detail-disappear {
  animation: task-detail-disappear 0.3s ease forwards;
}

.task-creator-appear {
  animation: task-creator-appear 0.3s ease forwards;
}

.task-creator-disappear {
  animation: task-creator-disappear 0.3s ease forwards;
}

.btn-large {
  animation: btn-large 0.3s ease forwards;
}

.category-up {
  animation: category-up 0.5s ease forwards;
}

.category-down {
  animation: category-down 0.5s ease forwards;
}

.selected-day {
  animation: selected-day 0.8s ease forwards;
}

@keyframes task-detail-appear {
  0% {
    opacity: 0;
    visibility: visible;
  }

  100% {
    right: 20px;
  }
}

@keyframes task-detail-disappear {
  0% {
    right: 20px;
  }

  100% {
    right: 0;
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes task-creator-appear {
  0% {
    visibility: visible;
  }

  100% {
    bottom: 0;
  }
}

@keyframes task-creator-disappear {
  0% {
    bottom: 0;
  }

  100% {
    bottom: -100%;
    visibility: hidden;
  }
}

@keyframes btn-large {
  0% {
    scale: 100%;
  }

  100% {
    scale: 120%;
  }
}

@keyframes category-up {
  0% {
    height: 100px;
  }

  100% {
    visibility: hidden;
    height: 0;
  }
}

@keyframes category-down {
  0% {
    height: 0;
  }

  100% {
    visibility: visible;
    height: 100px;
  }
}

@keyframes selected-day {
  0% {
    scale: 0;
  }

  50% {
    scale: 150%;
    rotate: (0deg);
  }

  60% {
    rotate: (20deg);
  }

  70% {
    rotate: (-20deg);
  }

  80% {
    rotate: (20deg);
  }

  90% {
    rotate: (-20deg);
  }

  100% {
    scale: 150%;
  }
}

@keyframes bounce {
  0% {
    scale: 0;
  }

  33% {
    scale: 100%;
  }

  66% {
    scale: 80%;
  }

  100% {
    scale: 100%;
  }
}
