@mixin defaultLoginForm($margin-top) {
  width: 400px;
  height: 40px;
  background-color: white;
  border: none;
  border-bottom: 1px solid gray;
  font-size: 1em;
  text-indent: 15px;
  margin-top: $margin-top;

  &:hover {
    border-bottom: 2px solid $main-color;
  }

  &:focus {
    outline: none;
  }
}

@mixin defaultHomeTaskCounterBtn {
  content: "";
  width: 30px;
  height: 30px;
  background-color: green;
  position: absolute;
  top: 37%;
}

@mixin centering {
  justify-content: center;
  align-items: center;
}

@mixin defaultBtn($border-radius) {
  border: none;
  border-radius: $border-radius;
  cursor: pointer;

  & h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}
