@mixin defaultLoginForm($margin-top) {
  width: 400px;
  height: 40px;
  background-color: white;
  border: none;
  border-bottom: 1px solid gray;
  font-size: 1em;
  text-indent: 15px;
  margin-top: $margin-top;

  &:hover {
    border-bottom: 2px solid $main-color;
  }

  &:focus {
    outline: none;
  }
}
