$main-color: #ff9cadc1;
$main-background: linear-gradient(-20deg, #f1d39d 20%, #9799cd 80%);
$inner-border: 1px solid rgba(182, 182, 182, 0.726);
$main-task-color: #9799cd;
$sub-task-color: #eab3b6;
$btn-submit-color: #4e4da2;

$content-background: rgba(245, 245, 245, 0.683);
$select-color-black: rgb(50, 50, 50);
$select-color-gray: rgb(226, 226, 226);
$task-create-input-color: rgb(234, 234, 234);
$table-inner-border: 1px solid rgba(216, 216, 216, 0.726);
