$main-mint: #88d3ce;
$main-background: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
$inner-border: 1px solid rgba(182, 182, 182, 0.726);
$task-create-box-back: rgb(232, 224, 252);
$main-task-color: #9799cd;
$sub-task-color: #eab3b6;
// linear-gradient(to left bottom, #9198e5, #e66465);
