$main-color: rgba(255, 156, 173, 0.758);
$main-background: linear-gradient(-20deg, #f1d39d 20%, #9799cd 80%);
$inner-border: 1px solid rgba(182, 182, 182, 0.726);
$task-create-box-back: #9799cd4a;
$main-task-color: #9799cd;
$sub-task-color: #eab3b6;
$btn-submit-color: #4e4da2;
