.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: $content-background;
}

#article {
  display: flex;
  text-align: center;
  overflow: hidden;

  &-upper {
    display: flex;
    height: 380px;
  }
}
