body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: $main-background;
  overflow: hidden;
  font-family: "GmarketSansMedium";
}

#root {
  display: flex;
  width: 100vw;
  height: 100vh;
}
