body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: $main-background;
  overflow: hidden;
  font-family: "GmarketSansMedium";
}

#root {
  display: flex;
  width: 1440px;
  height: 796px;
  flex-direction: column;
  border: 4px solid whitesmoke;
  border-radius: 10px;
}
