.task-content {
  display: flex;
  flex: 1;
  position: relative;
}

.task-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  border-right: $inner-border;
}

.task-timestamp {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-right: $inner-border;

  &__header {
    display: flex;
    text-align: left;
    height: 80px;
    justify-content: space-between;
    border-bottom: $inner-border;
  }

  &__counter-box {
    display: flex;
    width: 240px;
    align-items: center;
    justify-content: space-evenly;
  }

  &__counter {
    width: 80px;
    height: 70px;
    border-radius: 10px;
    line-height: 35px;
    color: white;
    font-size: 0.9em;
    text-align: center;

    &--main {
      background-color: $main-task-color;
    }

    &--sub {
      background-color: $sub-task-color;
    }
  }

  &__date {
    width: 270px;
    text-indent: 30px;

    &--month {
      font-size: 1.4em;
      line-height: 55px;
    }

    &--today {
      font-size: 0.7em;
      color: gray;
    }
  }

  &__body {
    flex: 1;
    overflow: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.task-box {
  display: flex;
  flex: 1;
  height: 90px;
  border-top: $inner-border;
  box-sizing: border-box;

  &__time {
    width: 120px;
    line-height: 40px;
    text-indent: 30px;
    font-size: 0.7em;
    color: gray;
    border-right: $inner-border;
  }

  &__main-task {
    flex: 1;
  }

  &__chart {
    display: flex;
    flex: 1;
    justify-content: center;
  }

  &__sub-task {
    flex: 1;
    border-left: $inner-border;
  }

  &__modal {
    position: relative;
    min-height: 30px;
    width: 140px;
    border-radius: 10px;
    color: white;
    text-align: left;
    box-sizing: border-box;
    text-indent: 15px;
  }

  &__duration {
    font-size: 0.6em;
  }

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.9em;
  }
}

.task-stat {
  width: 340px;

  &--official {
    background-color: #9799cd30;
  }

  &--personal {
    background-color: #eab3b634;
  }
}

.task-detail {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 340px;
  height: 100%;
}

.task-describe {
  display: flex;
  flex-direction: column;
  height: 350px;
  text-align: left;
  text-indent: 20px;
  font-size: 0.8em;

  &__header {
    display: flex;
    justify-content: space-between;
    text-indent: 20px;
    font-size: 1.2em;
    margin-top: 10px;

    &--title {
      line-height: 40px;
    }

    &--svg {
      transform: translate(-35%, 20%);
      transform-origin: 50% 50%;
    }
  }

  &__duration {
    line-height: 25px;
    font-size: 0.8em;

    & > svg {
      transform: translate(-25%, 40%);
      transform-origin: 50% 50%;
    }
  }

  &__location {
    line-height: 30px;
    font-size: 0.8em;

    & > svg {
      transform: translate(-32%, 40%);
      transform-origin: 50% 50%;
    }
  }

  &__privacy {
    line-height: 30px;
    font-size: 0.8em;
    margin-bottom: 20px;

    & > svg {
      transform: translate(-30%, 40%);
      transform-origin: 50% 50%;
    }
  }

  &__description {
    flex: 1;
    font-size: 1.2em;

    &--text {
      line-height: 40px;
      font-weight: bold;
    }

    &--content {
      font-size: 0.8em;
    }
  }

  &__todolist {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    text-align: left;
  }

  &__todo-header {
    display: flex;
    height: 35px;
    text-indent: 20px;
    justify-content: space-between;
    align-items: center;
  }

  &__todo-body {
    flex: 1;
    overflow: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__new-todo {
    display: flex;
    position: relative;
    height: 50px;
    align-items: center;
    margin-left: 14px;
  }

  &__submit-svg {
    width: 60px;

    & > svg {
      transform: translate(60%, 10%);
      transform-origin: 50% 50%;
    }
  }

  &__todo-input {
    width: 200px;
    height: 30px;
    background-color: whitesmoke;
    border-radius: 10px;
  }

  &__footer {
    height: 50px;
  }

  &__btn {
    &--create {
      margin-right: 24px;
    }

    &--modify {
      margin-right: 10px;
    }

    &--delete {
      margin-left: 10px;
      background-color: whitesmoke;
      color: red;
    }
  }

  & > hr {
    width: 300px;
    border: 1px solid gray;
  }
}

.todo-list {
  height: 40px;
  text-indent: 14px;
  margin: 10px 0;
  font-size: 0.85em;

  &__description {
    display: inline-block;
    width: 200px;
    line-height: 40px;
    border-radius: 10px;
    background-color: whitesmoke;
  }
}
