.task-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__header {
    display: flex;
    text-align: left;
    height: 60px;
  }

  &__datebox {
    width: 160px;
    font-size: 1.8rem;
    font-weight: bolder;
    margin-left: 3%;

    & > span {
      line-height: 60px;
      cursor: pointer;
    }
  }

  &__pickerbox {
    @include centering;

    display: flex;
  }

  &__monthpicker {
    display: flex;
    border: $inner-border;
    border-radius: 10px;

    &--btn {
      @include centering;

      display: flex;
      width: 40px;
      height: 40px;
      cursor: pointer;

      &:first-child {
        border-right: $inner-border;
      }
    }
  }

  &__body {
    display: flex;
    justify-content: center;
    flex: 1;
    position: relative;
  }

  table {
    width: 95%;
    height: 96%;
    border-top: $inner-border;
    border-bottom: $inner-border;
    border-radius: 10px;
    table-layout: fixed;
  }

  th {
    font-size: 1.4rem;
    height: 40px;
  }

  td {
    position: relative;
    border: $inner-border;
    box-sizing: border-box;

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }

    span {
      position: absolute;
      right: 7%;
      top: 0;
      font-size: 1.2em;
    }
  }
}
