.task-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-right: $inner-border;

  &__header {
    display: flex;
    text-align: left;
    height: 60px;
    justify-content: space-between;
  }

  &__date {
    width: 270px;
    margin-left: 2%;
    font-size: 1.1em;
    font-weight: bolder;

    &--month {
      line-height: 60px;
    }

    &--today {
      color: gray;
    }
  }

  &__body {
    display: flex;
    justify-content: center;
    flex: 1;
    position: relative;
  }

  table {
    width: 95%;
    height: 96%;
    border-top: $inner-border;
    border-bottom: $inner-border;
    border-radius: 10px;
    table-layout: fixed;
  }

  th {
    font-size: 0.67em;
    height: 40px;
  }

  td {
    position: relative;
    border: $inner-border;
    box-sizing: border-box;

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }

    span {
      position: absolute;
      right: 7%;
      top: 5%;
      font-size: 0.7em;
    }
  }
}
