.btn {
  &__submit-auth {
    @include defaultBtn(20px);

    width: 200px;
    height: 40px;
    color: white;
    background-color: $main-color;

    &:hover {
      transition: 0.3s;
      scale: 110%;
    }
  }

  &__login-oAuth2 {
    @include defaultBtn(20px);

    display: flex;
    position: relative;
    align-items: center;
    width: 200px;
    height: 40px;
    color: white;

    &--google {
      background-color: rgb(211, 95, 74);
    }

    &--facebook {
      background-color: rgb(65, 93, 157);
    }
  }

  &__category {
    @include centering;

    display: flex;
    flex-direction: column;
    margin: 5px 0;
    font-size: 1.2rem;

    &:first-child {
      margin-top: 10px;
    }

    &-box {
      display: flex;
      width: 170px;
      line-height: 40px;
      transition: 0.4s;
      box-sizing: border-box;
      cursor: pointer;

      &--click {
        border-left: 3px solid $purple1;
        color: $purple1;
      }

      &--hover {
        &:hover {
          border-left: 3px solid $gray1;
        }
      }

      & > div {
        @include centering;

        display: flex;
        width: 60px;
      }
    }

    &-sub {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      width: 140px;
      font-size: 1.3rem;
      background-color: $gray1;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      overflow: hidden;

      &--menu {
        $height: 30px;

        width: 100px;
        height: $height;
        line-height: $height;
        border-radius: 12px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: $black1;
          color: white;
        }
      }
    }
  }
}

.btn-create {
  border: $inner-border;
  width: 120px;
  height: 30px;
  background-color: $gray1;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: $gray1;
    transition: 0.2s;
  }
}

.btn-submit-small {
  width: 70px;
  height: 25px;
  background-color: $white1;
  color: black;
  border: none;
  border-radius: 8px;
  margin: 10px;
  font-size: 0.75rem;
  cursor: pointer;

  &:hover {
    transition: 0.2s;
    scale: 110%;
  }
}

.btn-submit-big {
  width: 160px;
  height: 45px;
  background-color: $purple1;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 1.2rem;
  cursor: pointer;

  &:hover {
    transition: 0.2s;
    scale: 110%;
  }
}
