.input {
  &__auth {
    width: 330px;
    height: 40px;
    background: none;
    font-size: 0.8em;
    text-indent: 15px;
    margin: 20px 0 20px 0;
    border: none;
    border-bottom: 1px solid gray;

    &:hover {
      border-bottom: 2px solid $main-color;
    }

    &:focus {
      width: 360px;
      outline: none;
      transition: 0.3s;
      border-bottom: 2px solid $main-color;
    }
  }

  &__task-search {
    display: flex;
    justify-content: center;

    & > div {
      @include centering;

      display: flex;
      width: 50px;
      background-color: $gray1;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      cursor: pointer;
    }

    & > input {
      width: 300px;
      height: 40px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: $gray1;
      border: none;
    }
  }
}
