.input {
  &__auth {
    width: 350px;
    height: 40px;
    background: none;
    font-size: 0.8em;
    text-indent: 15px;
    margin: 20px 0 20px 0;
    border: none;
    border-bottom: 1px solid gray;

    &:hover {
      border-bottom: 2px solid $main-color;
      background-color: #ffffff;
    }

    &:focus {
      width: 380px;
      outline: none;
      transition: 0.3s;
      border-bottom: 2px solid $main-color;
    }
  }
}
